<div class="slideshow-container">

  <div class="mySlides fade">
    <img src="./../../../assets/image/photo-1509440159596-0249088772ff.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="./../../../assets/image/photo-1516128043650-037fbdbd0b6e.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="../../../assets/image/photo-1552620896-a6ac30992d63.jpg" style="width:100%">
  </div>

  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>

  </div>
  <br>


  <div style="text-align:center">
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
    <span class="dot" (click)="currentSlide(3)"></span>
  </div>

