<nav id="navbar">
  <ul style="list-style: none;margin:0;padding:0">
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Հացաբուլկեղեն</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Հաց</h4></a>
        <a href="#"><p>Սպիտակ</p></a>
        <a href="#"><p>Սեւ</p></a>
      </div>
    </li>
   <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'> Կաթնամթերք և հավկիթ</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Կաթ</h4></a>
        <a href="#"><p>Կարագ, մարգարին</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Նպարեղեն</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Մակարոնեղեն</h4></a>
        <a href="#"><p>Մակարոն</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Քաղցրավենիք</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Մեղր</h4></a>
        <a href="#"><p>Հայկական մեղր</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Հյութեր և ըմպելիքներ</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Ըմպելիքներ</h4></a>
        <a href="#"><p>Բնական հյութ</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Սուրճ և թեյ</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Սուրճ</h4></a>
        <a href="#"><p>Քաշով սուրճ</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Ալկոհոլային խմիչք</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Գինի</h4></a>
        <a href="#"><p>Հայկական գինի</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Գարեջուր, խորտիկ</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Հայկական գարեջուր</h4></a>
        <a href="#"><p>Ներմուծված գարեջուր</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Ծխախոտ</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Առանց ծուխ արտադրանք, աքսեսուար</h4></a>
        <a href="#"><p>Սիգար, սիգարիլա</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Մսամթերք</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Թարմ միս</h4></a>
        <a href="#"><p>Սպիտակ</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Ասիական խոհանոց</h4>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Ձուկ և ծովամթերք</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Ծովամթերք</h4></a>
        <a href="#"><p>Ապխտած ձուկ</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Սառեցված մթերք</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Թռչնամիս</h4></a>
        <a href="#"><p>Հնդկահավ</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Պահածո</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Սնկային պահածոներ</h4></a>
        <a href="#"><p>Շամպինիոն</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Բանջարեղեն և միրգ</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Մրգեր</h4></a>
        <a href="#"><p>Հատապտուղներ</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Մանկական սնունդ</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Կաթնային խառնուրդ</h4></a>
        <a href="#"><p>Շիլա</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Առանց խոլեստերինի</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Խոլեստերինը իջեցնող</h4></a>
        <a href="#"><p>Ըմպելիքներ</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Դիաբետիկ մթերք</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Շաքար, շաքարի փոխարինիչ</h4></a>
        <a href="#"><p>Քաղցրավենիք, աղանդեր</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Կենդանիների համար</h4>
      <div class="dropdown-content">
        <a href="#"><h4>Շների կեր</h4></a>
        <a href="#"><p>Կատուների կեր</p></a>
      </div>
    </li>
    <li class="dropdown">
      <h4 style="text-align: center;" class='dropbtn'>Բոլոր բաժինները</h4>
    </li>
  </ul>
</nav>
